<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/estilos.css">
    <title>loyalty</title>
</head>

<body>
    <div class="contenedor">
        <div class="loader">
          <div class="linea"></div>
          <div class="linea"></div>
          <div class="linea"></div>
          <div class="linea"></div>
          <div class="linea"></div>
          <div class="linea"></div>
          <div class="linea"></div>
          <div class="linea"></div>
        </div>
      </div>
      <header class="row justify-content-between align-items-center">
        <a href="./index.html" class="col-5 col-md-3">
          <img src="./img/logotgifhome.jpg" alt="imagen de refencia" class="col-12" id="logo">
        </a>
        <div class="col-4 col-md-3 col-lg-2">
          <a class="col" id="email" href="mailto:info@tgif.net">📩info@tgif.net</a>
        </div>
      </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">home</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Congress113
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="./house.html">House</a></li>
                  <li><a class="dropdown-item" href="./senate-data.html">Senate</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Attendance
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="./house-attendance.html">House</a></li>
                  <li><a class="dropdown-item" href="./senate-attendance.html">Senate</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Party loyalty
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="./house.loyalty.html">House</a></li>
                  <li><a class="dropdown-item" href="./senate-loyalty.html">Senate</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div id="app">
        <main class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                        respectively, tend to be the most faithful in voting for their party's nominee for office
                        and legislation that backs their party's agenda.</p>
                </div>
                <div class="col">
                    <h2>Senate at a glance </h2>
                    <table class="table-responsive-sm table table-striped table-hover col-12">
                        <thead>
                            <th>Party</th>
                            <th>No. of Reps</th>
                            <th>Missed&percnt; </th>
                        </thead>
                        <tbody id="senate">
                            <tr>
                                <td>Democrats</td>
                                <td>{{statistics.democrats.length}}</td>
                                <td>{{statistics.averageVotesWithPartyDemocrats}} &percnt;</td>
                            </tr>
                            <tr>
                                <td>Republicans</td>
                                <td>{{statistics.republicans.length}}</td>
                                <td>{{statistics.averageVotesWithPartyRepublicanos}} &percnt;</td>
                            </tr>
                            <tr>
                                <td>Independents</td>
                                <td>{{statistics.independents.length}}</td>
                                <td>{{statistics.averageVotesWithPartyIndependets}}&percnt;</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{statistics.democrats.length + statistics.republicans.length +
                                    statistics.independents.length}}</td>
                                <td>{{totalavergemissed}}&percnt;</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Most loyalty</h2>
                    <table class="table-responsive-sm table table-striped table-hover col-12">
                        <thead>
                            <th>Name</th>
                            <th>No.party votes</th>
                            <th>vote with party &percnt;</th>
                        </thead>
                        <tbody>
                            <tr v-for="member in statistics.mostLoyal">
                                <td><a v-bind:href="member.url || null" target="_blank">{{member.last_name}},
                                        {{member.first_name}}{{member.middle_name ||""}}</a></td>
                                <td>{{Math.round(((member.total_votes -
                                    member.missed_votes)*member.votes_with_party_pct)/100)}}</td>
                                <td>{{member.votes_against_party_pct}}&percnt;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <h2>Least loyalty</h2>
                    <table>
                        <thead>
                            <th>Name</th>
                            <th>No.party votes</th>
                            <th>vote with party&percnt;</th>
                        </thead>
                        <tbody>
                            <tr v-for="member in statistics.leastLoyal">
                                <td><a v-bind:href="member.url || null" target="_blank">{{member.last_name}},
                                        {{member.first_name}}{{member.middle_name ||""}}</a></td>
                                <td>{{Math.round(((member.total_votes -
                                    member.missed_votes)*member.votes_with_party_pct)/100)}}</td>
                                <td>{{member.votes_against_party_pct}}&percnt;</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
        </main>
        <footer>
            <p> &#169;2&#216;16 TGIF &#124; ALL Right Reserved</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./data(vue)/dato.js"></script>
</body>

</html>